In [51]:
import pandas as pd 

section = pd.read_csv('section.csv')
students = pd.read_csv('students.csv')
# merge section and students
df = pd.merge(section, students, on='section_id')
# df = pd.merge(section, students, on='section_id', how='left')
# total marks of each student
df = df.fillna(0)
df['total_marks'] = df['nepali'] + df['english'] + df['maths'] + df['science'] + df['social']
# df
# percentage of each student
df['percentage'] = df['total_marks'] / 5
# division of each student
df['division'] = df['percentage'].apply(lambda x: 'Distinction' if x >= 80 else 'First' if x >= 60 else 'Second' if x >= 45 else 'Third' if x >= 32 else 'Fail')
# search student by name
# df[df['name'] == 'hari']
# search student by name or gender
# df[(df['gender']=='male') & (df['name']=='ram')]

# df[(df['gender']=='female') | (df['name']=='ram')]


# fill missing values with 0
# df = df.fillna(0)
# iloc: index location
# loc: location

# update values
df.loc[df['name'] == 'ram', 'english'] = 90
df
# update index
# df.loc[df['name'] == 'ram', 'name'] = 'Ram'
# df
# change column background color if marks is greater than 80
def color(x):
    if x >= 80:
        return 'background-color: green'
    else:
        return 'background-color: red'
df.style.applymap(color, subset=['maths', 'english', 'nepali', 'science'])